.article .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: antiquewhite;
}
p {
  font-family: serif, sans-serif, cursive, fantasy, monospace;
}
img {
  margin: 3vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

.article .wrap .item {
  border-radius: 10%;
  width: 40vw;
  height: 40vw;
  margin: 1.5vw;
  text-align: center;
  box-shadow: 0.2vw 1vw 1vw rgb(6, 147, 241);
  background-color: rgb(160, 206, 252, 0.5);
}
.article h1 {
  letter-spacing: 1.5vw;
  background-color: azure;
  text-align: center;
  color: rgba(17, 101, 161, 0.842);
  text-decoration: none;
  font-size: 2.4vw;
  border: 0.3vw solid rgb(185, 150, 228);
  padding-top: 1vw;
  border-radius: 1vw;
  transition: all 0.2s ease;
  padding-bottom: 1vw;
}

.article p {
  color: rgba(19, 160, 230, 0.842);
  text-decoration: none;
  font-size: 2.5vw;
  padding-top: 1vw;

  padding-bottom: 0.5rem;
}
